.image img {

    width: 150px;
    border-top: 30px solid skyblue;
    border-right: 30px solid lightpink;
    border-bottom: 30px solid lightgreen;
    border-left: 30px solid #ffefd5;

}

p>span {
    color: red;
}

#header span {
    color: pink;
}

span {
    color: green;
}

#header *:last-child {
    color: orange;
}

#header span:first-child:hover {
    color: blue;
}

th{
    padding: 15px;    
}

td{
    text-align: center;
}